@keyframes lighting {
  0% {
    transform: translateX(0);
    text-shadow: none;
  }
  50% {
    transform: translateX(3px);
    text-shadow: -3px 0 5px #0ff;
  }
  100% {
    transform: translateX(0);
    text-shadow: none;
  }
}

@keyframes lightingLine {
  0% {
    left: -100%;
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  50% {
    left: 0%;
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

.lightingText {
  position: relative;
  display: inline-block; /* necessário para a linha acompanhar o texto */
}

.lightingText::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 40%;
  height: 2px;
  background-color: #44cbc6;
  animation: lightingLine 1.5s ease-in-out infinite;
  animation-delay: -0.2s;
  pointer-events: none;
}

.root {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color:#fff;
  justify-content: center;
  padding-bottom: 40px;
}

.root:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="40" viewBox="0 0 100 40" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20 Q 25 40 50 20 T 100 20 V40 H0 Z" fill="%231c1c1e"/></svg>') no-repeat bottom;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 2;
  transform: scaleY(1.15);
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: 1300px;
  padding: 50px;
  flex-direction: column;
}

.divider {
  padding-top: 50px;
}

.chip {
  font-size: 20px;
}

.headerTitle {
  font-family: 'LinearGrotesk-Black', sans-serif;
  font-size: 60px;
}

.headerDescription {
  font-family: 'LinearGrotesk-Medium', sans-serif;
}

.serviceCard {
  max-width: 280px;
}

.serviceCardTitle {
  font-family: 'LinearGrotesk-Black', sans-serif;
  font-size: 19px;
}

.serviceCardsContainer {
  justify-content: center;
}

.businessServicesContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.businessServicesContainerDividerHorizontal {
  display: none;
}

.businessServiceCard {
  max-width: 600px;
}

.advantageHeaderTitle {
  font-family: 'LinearGrotesk-Black', sans-serif;
  font-size: 40px;
  margin-top: 40px;
}

.mobileAdvantageHeaderTitle {
  display: none;
  font-family: 'LinearGrotesk-Black', sans-serif;
  font-size: 40px;
  margin-top: 40px;
}

.advantageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.advantagens {
  flex: 1;
}

.advantageTextContainer {
  max-width: 500px;
  max-height: 60px;
}

.advantageText {
  text-align: center;
  font-size: 20px;
  font-family: 'LinearGrotesk-Black', sans-serif;
}

.investmentImage {
  width: calc(1536px * 0.4);
  height: calc(1024px * 0.4);
}

.noteImage {
  width: calc(1024px * 0.2);
  height: calc(1024px * 0.2);
}

.plansButton {
  font-size: 15px;
}

@media (max-width: 1280px) {
  .serviceCard {
    max-width: 220px;
  }
  .serviceCardTitle {
    font-size: 14px;
  }
  .advantageText {
    font-size: 14px;
  }
  .advantageTextContainer {
    font-size: 10px;
    max-height: 80px;
  }
}

@media (max-width: 1050px) {
  .serviceCard {
    max-width: 350px;
  }
  .investmentImage {
    width: calc(1536px * 0.35);
    height: calc(1024px * 0.35);
  }
  .noteImage {
    width: calc(1024px * 0.15);
    height: calc(1024px * 0.15);
  }
}

@media (max-width: 800px) {
  .businessServicesContainerDivider {
    display: none;
  }
  .businessServicesContainerDividerHorizontal {
    display: block;
  }
  .businessServicesContainer {
    flex-direction: column;
    gap: 30px;
  }
  .businessServiceCard {
    max-width: 500px;
  }
  .advantageContainer {
    flex-direction: column;
  }
  .advantageText {
    min-width: 500px;
  }
  .plansButton {
    font-size: 15px;
  }
  .mobileAdvantageHeaderTitle {
    display: block;
  }
  .advantageHeaderTitle {
    display: none;
  }
  .advantageContainer {
    align-items: center;
  }
}

@media (max-width: 650px) {
  .headerTitle {
    font-size: 40px;
  }
  .advantageText {
    min-width: 400px;
  }
  .investmentImage {
    width: calc(1536px * 0.2);
    height: calc(1024px * 0.2);
  }
  .plansButton {
    font-size: 12px;
  }
}

@media (max-width: 490px) {
  .headerTitle {
    font-size: 30px;
  }
  .advantageText {
    min-width: 300px;
  }
}